@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;

    --black:#444;
    --light-color:#777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border: .2rem solid var(--color-blog);
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 0.5rem;
}

html::-webkit-scrollbar-track{
  background: #fff;
}

html::-webkit-scrollbar-thumb{
  background: var(--color-blog);
  border-radius: 5rem;
}

